@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
* {
    margin: 0;
    padding: 0;
}
html {
    color: #1F271B;
}
$color: #1F271B; */

/* IDs */
/* #page-container {
    position: relative;
    min-height: 100vh;
    background-color: #CC998D;
}
#content-wrapper {
    height: 100%;
    width: 80%;
    margin: auto;
    padding: 2rem 0 2rem 0;
    background-color: #ECEBE4;
    padding-bottom: 3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
#header {
   position: sticky;
   top: 0;
   height: 7.5rem;
   background: #6D435A;
   text-align: center;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#navbar {
    padding: 0.25rem;
} */


/* Classes */
/* .nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-item {
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 0.75rem 15rem;
    background: #3C6E71;
    font-weight: 300;
    font-variant: small-caps;
    font-size: large;
}
.nav-link {
    text-decoration: none;
    color: #FFF;
}
.nav-link-active {
    color: #1F271B;
}
.section {
    width: 90%;
    margin: 1rem auto;
    padding: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.section-title {
    font: small-caps bold 2.5rem serif;
    margin-bottom: 0.5rem;
    text-align: center;
}
.inspirational {
    position: relative;
}
.inspirational > img {
    width: 100%;
}
.overlay-quote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    font-size: 2rem;
    font-weight: 300;
    color: white;
    backdrop-filter: blur(14px) brightness(80%);
}
.overlay-credit {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
}
.overlay-credit > p {
    font-size: 1rem;
    font-weight: 300;
    color: white;
    backdrop-filter: blur(14px) brightness(80%);
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: #6D435A;
    text-align: center;
    color: white;
} */
